<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dbchangelog -->
      <package
            uri="http://www.liquibase.org/xml/ns/dbchangelog"
            class="org.liquibase.xml.ns.dbchangelog.DbchangelogPackage"
            genModel="model/dbchangelog.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated dbchangelog -->
      <parser
            type="dbchangelog"
            class="org.liquibase.xml.ns.dbchangelog.util.DbchangelogResourceFactoryImpl"/>
   </extension>

</plugin>
