<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.liquidbase.model.editor.DbchangelogEditorAdvisorApplication"
            name="liquidbase">
         <property
               name="appName"
               value="liquidbase">
         </property>
      </product>
   </extension>

</plugin>
